
#search-btn{
    display: block;
    width: 10%;
    padding: 5px 0;
    border-radius: 25px;
    border: 2px solid rgb(50, 139, 143);
    color: rgb(50, 139, 143);
    /* padding: 5px 40px; */
}
#plus{
   
    display: block;
    font-size: 36px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: aqua;
    color: #fff;
    margin: 20px 0;
}
#create-btn{
    height: 35px;
    width: 180px;
    font-weight: 500px;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border: 6px  solid black;
    border: 2px solid black;
    box-shadow: 5px 5px black;
}

